@import './base/variables';
@import './base/mixins';
@import './base/utilities';
@import './components/header';
@import './components/hero';
@import './components/menu';
@import './components/button';
@import './components/content';
@import './components/footer';

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf')
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../assets/fonts/Montserrat-Medium.ttf')
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf')
}

@font-face {
  font-family: 'Cousine Bold';
  src: url('../assets/fonts/Cousine-Bold.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat Bold';
}

#app {
  position: relative;
}

.block-label {
  font-family: 'Cousine Bold';
  font-weight: 300;

  &--seafoam {
    color: $seafoam;
  }

  &--blue {
    color: $eyebrowAlt;
  }
}