.pill-btn {
  display: inline-block;
  height: 100%;
  color: $white;
  font-family: 'Montserrat Medium';
  font-size: 1.6rem;
  text-decoration: none;
  padding: 2rem;
  border: 1px solid $white;
  border-radius: 10rem;
}