.content__block {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 7rem;
  
  @include device-large {
    height: 100vh;
    flex-direction: row;
  }

  &--bg {
    background-image: url('../../assets/images/Phone.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content__heading {
  font-size: 4.4rem;
  color: $white;

  &--alternate {
    color: $contentText;
  }
}

.item__block {

  &--alternate {
    @include device-large {
      flex: 0.8;
    }
  }

  &-text {
    font-family: 'Montserrat Medium';
    font-size: 1.8rem;
    line-height: 4rem;
    margin: 1rem 0;
  }

  &-text--alternate {
    color: $white;
  }
}